* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#sun {
    width: 7vw;
    height: 7vw;
    background-image: url(../images/sun.png);
    background-size: cover;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 1.8vw 0.9vw rgba(255, 165, 0, 0.8), 
        0 0 3.6vw 1.8vw rgba(255, 140, 0, 0.5), 
        0 0 5.4vw 2.7vw rgba(255, 69, 0, 0.3); 
    filter: brightness(1.2) blur(0.09vw); /* Add a blur for a hotter temperature look */
}


.planet {
    z-index: 99;
    position: absolute;
}

#mercury {
    background-image: url(../images/mercury.png);
    background-size: cover;
    width: 1.7vw;
    height: 1.7vw;
}

#venus {
    background-image: url(../images/venus.png);
    background-size: cover;
    width: 2.5vw;
    height: 2.5vw;
}

#earth {
    background-image: url(../images/earth.png);
    background-size: cover;
    width: 3vw;
    height: 3vw;
}

#mars {
    background-image: url(../images/mars.png);
    background-size: cover;
    width: 2vw;
    height: 2vw;
}

#jupiter {
    background-image: url(../images/jupiter.png);
    background-size: cover;
    width: 4.2vw;
    height: 4.2vw;
}

#saturn {
    background-image: url(../images/saturn.png);
    background-size: cover;
    width: 4.5vw;
    height: 4.5vw;
}

#uranus {
    background-image: url(../images/uranus.png);
    background-size: cover;
    width: 2.7vw;
    height: 2.7vw;
}

#neptune {
    background-image: url(../images/neptune.png);
    background-size: cover;
    width: 2.6vw;
    height: 2.6vw;
}

/* Path elements (orbits) */

.path {
    position: absolute;
    border: 1px dotted rgb(135, 206, 250, 0.8);
    border-radius: 50%;
    transform-origin: center;
    /* Center each path around the center of the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Adjust path sizes to match ellipse radii used in JavaScript */
#path1 {
    width: calc(2 * 13.5vw);
    height: calc(2 * 6.625vh);
}

#path2 {
    width: calc(2 * 18vw);
    height: calc(2 * 9.25vh);
}

#path3 {
    width: calc(2 * 23.5vw);
    height: calc(2 * 11.875vh);
}

#path4 {
    width: calc(2 * 28.5vw);
    height: calc(2 * 14.5vh);
}

#path5 {
    width: calc(2 * 33.5vw);
    height: calc(2 * 17.125vh);
}

#path6 {
    width: calc(2 * 38.5vw);
    height: calc(2 * 19.75vh);
}

#path7 {
    width: calc(2 * 43.5vw);
    height: calc(2 * 22.375vh);
}

#path8 {
    width: calc(2 * 48vw);
    height: calc(2 * 25vh);
}



/* Self-rotation animation */
@keyframes self-rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* for tootip to display details of planets */

.tooltip {
    position: absolute;
    visibility: hidden;
    transition: visibility 0.2s, opacity 0.2s linear;
    z-index: 100;
}


/* for the small circle */
#follower {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none;
    transition: left 0.1s ease-out, top 0.1s ease-out; /* Smooth following transition */
    z-index: 98;
    opacity: 0;
}


 /* for the title */
 h2 {
    position: absolute;
    top: 2vh;
    font-size: 2em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(90deg, #f9d423, #6a82fb, #56ab2f);
    -webkit-background-clip: text; /* WebKit/Blink browsers */
    background-clip: text; /* Standard property */
    -webkit-text-fill-color: transparent; /* Required for WebKit-based browsers to make the text color transparent */
    white-space: nowrap;
    }

